<h1>Showing All Messages</h1>

<%= link_to 'New Message', new_message_path %> <br>

<table>
  <tr>
    <th>User</th>
    <th>Number</th>
    <th>Text</th>
    <th>Time</th>
    <th>Action</th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message.user %></td>
      <td><%= message.number %></td>
      <td><%= message.text %></td>
      <td><%= message.created_at %></td>
      <td><%= message.action %></td>
      <td><%= link_to 'Show', message_path(message) %></td>
      <td><%= link_to 'Delete', message_path(message),
          method: :delete,
          data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>

</table>
